<form action="/imdb/<%=movie._id%>/comment" method="post">
    <input type="text" name="comment" placeholder="Write the comment">
    <input type="text" name="rating" placeholder="Enter the rating">
    <button>Submit</button>
</form>