*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html{
font-size: 62.5%;
}

body {
  box-sizing: border-box; 
}
/*                   Navbar here              */
.contain-nav{
  margin: 0 2rem;
}
.navbar-brand{
  font-size: 2.5rem;
}
.fas.fa-bars{
  font-size: 2.5rem;
  background: transparent;
  border: none;
  outline: none;
}

.search-bar{
  width: 40vw;
  height: 6vh;
  margin: 0 auto;
}
.rounded-bar{
  height: inherit;
  width: 2vw;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
.rounded-bar-left{
  float: left;
  border-left: 1px solid #e3e3e3;
  border-radius: 30px 0 0 30px;
}
.rectangular-bar{
  display: block;
  width:30vw;
  height: inherit;
  float: left;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
.rectangular-bar::before {
  content: "";
  display: table;
  clear: both; 
}
.rounded-bar-right{
  width: 5vw;
  border-radius: 0  30px 30px 0 ;
  border-right: 1px solid #e3e3e3;
  float: left;
}
.search-input{
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
}
.search-input:focus{
  outline: none;
  font-size: 1.5rem;
}
.fas.fa-search{
  margin-left: 2vw;
  margin-top: 1.6vh;
  font-size: 1.7rem;
}
.fas.fa-search:hover{
  text-decoration: none;
  color: black;
  opacity: 0.7;
}
.fas.fa-search:active{
  text-decoration: none;
  color: black;
}
.fas.fa-search:visited{
  text-decoration: none;
  color: black;
}
.nav-cred{
  color: red;
  font-size: 1.8rem;
  font-weight: 300;
}
.nav-cred:hover{
  text-decoration: none;
  color:red;
  opacity: 0.7;
}
.nav-cred:active{
  text-decoration: none;
  color:red;
}
.nav-cred:visited{
  text-decoration: none;
  color:red;
}

.nav-toggler{
  top: -0;
  width: 0;
  position: fixed;
  height: 100vh;
  background: #F5F5F5;
  z-index: 9999;
  overflow: hidden;
}
.nav-toggler-cancel{
  width: 100%;
  height: 10vh;
}
.nav-toggler-cross{
  width: 4.392vw;
  height: 8.275vh;
  background: black;
  float: right;
  padding-top: 1.2vh;
  padding-left: 1.3vw;
}
.fas.fa-times{
  font-size: 3rem ;
  margin: auto auto;
  color: white;
  display: inline-block;
  background: transparent;
  border: none;
}
/* .fas.fa-times:hover{
  text-decoration: none;
}
.fas.fa-times:visited{
  text-decoration: none;
}
.fas.fa-times:active{
  text-decoration: none;
} */

._links{
  margin-top: 10vh;
  padding-bottom:2vh ;
}
.nav-toggler-links{
  letter-spacing: 0.3rem;
  margin-bottom: 5vh;
  font-size:1.5rem;
  text-transform: uppercase;
  text-align: center;
  display: block;
}
.nav-toggler-links:hover{
  text-decoration: none;
  color:black;
}
.nav-toggler-links:active{
  text-decoration: none;
  color:black;
}
.nav-toggler-links:visited{
  text-decoration: none;
  color:black;
}
.social-toggler-links{
  font-size: 1.5rem;
  background: #E5E5E5;
  width: inherit;
  height: 10vh;
  padding-top: 3.6vh;
  text-align: center;
  letter-spacing: 1rem;
}
.fab:active{
text-decoration: none;
}
.fab:visited{

  text-decoration: none;
}
.fab:hover{

  text-decoration: none;
}














/*                    Sliders here           */

.slider{
    height: 70.08vh;
    width: 100vw;
}
.sliders{
  width: 20vw;
  height: inherit;
  float: left;
  overflow: hidden;
}
.slider-1{
    position: relative;
}
.slider-2{
  position: relative;
}
.slider-3{
  position: relative;
}
.slider-4{
  position: relative;
}
.slider-5{
  position: relative;
}
.slider-bg{
    width: inherit;
    height: inherit;
    height: inherit;
    background-size: cover;
    float: left;
    transition: all .3s;
}
.slider-bg:hover{
  transform: scale(1.27);    /*  Needed to implement translate on info class */
  filter: brightness(70%);
}
.bg-1{
  background-image:linear-gradient(to bottom,rgba(0,0,0,0) 50%,#000 100%),url("https://i1.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/01/1-1-1.jpg?resize=400%2C650&ssl=1");
}
.bg-2{
  background-image:linear-gradient(to bottom,rgba(0,0,0,0) 50%,#000 100%),url("https://i0.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/2-1-1.jpg?resize=400%2C650&ssl=1");
}
.bg-3{
  background-image:linear-gradient(to bottom,rgba(0,0,0,0) 50%,#000 100%),url("https://i1.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/3-2-1.jpg?resize=400%2C650&ssl=1");
}
.bg-4{
  background-image:linear-gradient(to bottom,rgba(136, 69, 69, 0) 50%,#000 100%),url("https://i0.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/4-2-1.jpg?resize=400%2C650&ssl=1");
}
.bg-5{
  background-image:linear-gradient(to bottom,rgba(0,0,0,0) 50%,#000 100%),url("https://i0.wp.com/demo.themeum.com/wordpress/moview/wp-content/uploads/2016/02/5-1-1.jpg?resize=400%2C650&ssl=1");
}
.slider-info{
  width: 18vw;
  height: 50vh;
  top: 45vh;
  left: 2vw;
  right: -10vw;
  bottom: 0;
  position: absolute;
  color: white;
  font-size: 1.5rem;
}
.far.fa-star{
  color: yellow;
  font-size: 1.5rem;
}
.slider-info-title{
  font-size: 2.4rem;
  font-weight: 500;
}



@media(max-width: 992px){
  .navbar-brand{
    font-size:2.3rem;
  }
  .fas.fa-bars{
    font-size:2.3rem;
  }
}
@media(max-width: 772px){
  .navbar-brand{
    font-size:2.3rem;
  }
  .fas.fa-bars{
    font-size:2.3rem;
  }
  .fas.fa-search{
    font-size: 1.3rem;
    margin-left: 0.7rem;
  }
}
@media(max-width: 550px){
  .navbar-brand{
    font-size:2rem;
  }
  .fas.fa-bars{
    font-size:2rem;
  }
  .nav-cred{
    color: red;
    font-size: 1.5rem;
    font-weight: 300;
  }
  .nav-cred:hover{
    text-decoration: none;
    color:red;
    opacity: 0.7;
  }
  .nav-cred:active{
    text-decoration: none;
    color:red;
  }
  .nav-cred:visited{
    text-decoration: none;
    color:red;
  }
}
