<% include ./partials/header %>
<div class="mt-5">
    <form class="form-group" action="/imdb" method="GET">
        <input class="form-control form-control-lg" type="text" name="search" placeholder="Search movie title">
        <button>Submit</button>
    </form>
</div>
</div>
<% include ./partials/footer %>