<% include ./partials/header %>
<div class="row mt-5">
    <%for(var i=0;i<imdb.Search.length;i++){%>
    <%if(imdb.Search[i].Poster !== "N/A"){%>
    <div class="col-lg-4 mb-5">
        <a href="/create/<%= imdb.Search[i].imdbID %>"><img class="img-fluid img-thumbnail image-height"
                src="<%= imdb.Search[i].Poster %>" alt=""></a>
    </div>
    <%} else{continue;}%>
    <%}%>
</div>
<% include ./partials/footer %>