body{
    background: white;
}
.nav-link{
    color: #6F2232;
    font-size: 1.2rem;
}
.nav-link:hover{
    color: #950740;
}
.navbar-brand{
    color: #c3073f;
    font-size: 1.7rem;
}
.navbar-brand:hover{
    color: #c3073f;
}
.form-control + button{
    display: none;
}
.image-height{
    height: 300px;
    width: 300px;
}
.img-thumbnail:hover{
    background-color: #c3073f;
    border: 1px solid #c3073f;
    transition: all 200ms;
}
/* .form-control:focus{
    border:1px solid #c3073f;//blue color of the input is not changing to the color desired
    box-shadow: #000000;
} */
/* #toggler{
    color: #c3073f;//use font-awesome to change the color of the toggler
} */
