.middle-nav{
    margin-left: 30px;
    margin-right: 150px;
}
.dropdown-menu{
    border: none;
}
.bg{
    background-image: url("https://haintheme.com/demo/html/bustter/images/uploads/slider-bg.jpg");
    width: 1349px;
    height: 784px;
    background-position: center;
}
.nav-link{
    color:#abb7c4;
     font-family: 'Dosis', sans-serif;
font-weight: 700;
font-size: 15px;
text-transform: uppercase;
letter-spacing: 0.1rem;

}
.nav-link:hover{
    color: #abb7c4;
}
.nav-item{
    padding: 15px;
}
.navbar-brand{
    color: #abb7c4;
    font-size: 2rem;
}
.navbar-brand:hover{
    color: #abb7c4;
}
.input-group-text{
    background: #233A50;
    border: 1px solid #233A50;
}
.fa-search{
    color: white;
}
.poster{
    width: 45%;
    margin: 1.66%;
    height: 300px; 
}
/* .input-group:focus{
    outline: none;
    border: none;
}
.input-group:hover{
    outline: none;
    border: none;
} */