body{
    color: white;
}
.middle-nav{
    margin-left: 30px;
    margin-right: 50px;
}
.dropdown-menu{
    border: none;
}
.bg{
    background-image: url("https://haintheme.com/demo/html/bustter/images/uploads/slider-bg.jpg");
    width: 1495px;
    height: 900px;
    background-position: center;
}
.nav-link{
    color:#abb7c4;
     font-family: 'Dosis', sans-serif;
font-weight: 700;
font-size: 15px;
text-transform: uppercase;
letter-spacing: 0.1rem;

}
.nav-link:hover{
    color: #abb7c4;
}
.nav-item{
    padding: 15px;
}
.navbar-brand{
    color: #abb7c4;
    font-size: 2rem;
}
.navbar-brand:hover{
    color: #abb7c4;
}
.input-group-text{
    background: #233A50;
    border: 1px solid #233A50;
}
.fa-search{
    color: white;
}
.zoomin{
    transition: transform .3s;
}
.oflow{
    overflow: hidden;
}
.zoomin:hover{
    transform: scale(1.3,1.3);
    filter:brightness(50%);
}
.searchBar{
    margin-bottom: 100px;
}
/* .info{
    display: block;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 50%, rgb(0, 0, 0) 100%);
    z-index: 999;
} */
.tag{
    float:left;
    position:absolute;
    left: 0px;
    top: 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 50%, rgb(0, 0, 0) 100%);
    z-index: 1000;
}
/* .thumbnail:hover {
    position:relative;
    top:-25px;
    bottom:-25px;
    left:0px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
} */
/* .input-group:focus{
    outline: none;
    border: none;
}
.input-group:hover{
    outline: none;
    border: none;
} */
.middle-section{
    padding-top: 100px;
    padding-bottom: 100px;
    background:  #020D18;
}
.middle-header{
    color: white;
    font-weight: 300;
}

hr.ruler { 
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, rgb(42,11,53), #DD003F, rgb(42,11,53));
    background-image: -moz-linear-gradient(left, rgb(42,11,53), #DD003F, rgb(42,11,53));
    background-image: -ms-linear-gradient(left, rgb(42,11,53), #DD003F, rgb(42,11,53));
    background-image: -o-linear-gradient(left, rgb(42,11,53), #DD003F, rgb(42,11,53)); 
  }
  .links{
      margin-right: 50px;
      color: white;
      font-weight: 300;
  }
  .links:hover{
      color: white;
  }
  .fas.fa-star{
      color: #DD003F;
  }
  .movie-title {
      font-weight: 300;
  }
  .lower-section{
      background: #06121E;
      height: 100px;
  }

  /* .rela{
      position: relative;
      top: -523px;
      height: 523.88px;
      background-color: rgb(0,0,0);
      opacity: 0.9;
      /* -webkit-tap-highlight-color: transparent; */
      /* z-index: 999; */
  /* } */